.container{
    width: 600px;
    height: 220px;
}

.keyboard{
    width: 100%;
    height: 100%;
    background-color: grey;
    /*transform: rotatex(60deg);*/
    border-radius: 10px;
}

.row{
    transform: rotatex(60deg);
    display: flex;
    justify-content: center;
    gap: 5px;
}

button{
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 20px;
    width: 45px;
    background-color: burlywood;
    height: 45px;
    border-radius: 50%;
    border: 4px solid rgb(80, 80, 74);
    box-shadow: 0px 25px 5px rgb(78, 63, 42);
    transition: all 0.2s ease;
}

.addon{
    width: 93%;
    height: 0px;
    margin-bottom: 5px;
    border-bottom: 30px solid grey;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent ;
}



/*button:hover{
    transform: translateY(20px);
    box-shadow: 0px 10px 5px black;
}*/